<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="{{ "assets/js/projectpix.js" | relative_url }}"></script>
  <link rel="stylesheet" href="{{ "/assets/css/site.css" | relative_url }}"/>
</head>
<body>

<div class="container">
    <div class="row"><div class="col-sm-12">
    <ol class="breadcrumb">
        <li><a href="{{ "/" | relative_url }}">Home</a></li>
{% if page.project %}
        <li><a id="project" project-key="{{ page.key }}" href="{{ page.top }}">{{ page.project }}</a></li>
{% endif %}
    </ol>
    </div></div>
    <div class="row"><div class="col-sm-12">

    {{ content }}

    </div></div>
</div>
<footer class="text-muted">
<div class="container">
  <div class="row"><div class="col-sm-12">
    &copy; 2020-2021, Timothy Herzog
  </div></div>
</div>
</footer>

</body>
</html>
